@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url("../img/top.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.centrarTexto {
    text-align: center;
}

.column-2 {
    width: 50%;
}

.arriba-izq {
    width: 50%;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid black;
    height: 440px;
}

.arriba-dere {
    width: 50%;
    float: right;
    background-color: rgba(255, 0, 0, 0.3);
    border: 3px solid black;
    border-left: none;
    height: 440px;
}

.abajo-izq {
    width: 50%;
    float: left;
    background-color: rgba(255, 0, 0, 0.3);
    border: 3px solid black;
    border-top: none;
    height: 440px;
}

.abajo-dere {
    width: 50%;
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid black;
    border-left: none;
    border-top: none;
    height: 440px;
}

.nombrecomida {
    display: inline;
    margin-left: 30%;
}

.descripcion {
    margin-left: 30%;
}

.icono {
    width: 15px;
}

@media (max-width: 1000px) {
    .arriba-izq {
        width: 100%;
        border-bottom: none;
    }
    .arriba-dere {
        width: 100%;
        border-left: 3px solid black;
    }
    .abajo-izq {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .abajo-dere {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.3);
        border-left: 3px solid black;
    }
}