.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url("../img/top.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.centrarTexto {
    text-align: center;
}

.column-2 {
    width: 50%;
}

.arriba-izq {
    width: 50%;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
}

.arriba-dere {
    width: 50%;
    float: right;
    background-color: rgba(255, 0, 0, 0.3);
}

.abajo-izq {
    width: 50%;
    float: left;
    background-color: rgba(255, 0, 0, 0.3);
}

.abajo-dere {
    width: 50%;
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
}

.nombrecomida {
    display: inline;
}

.icono {
    width: 20px;
}

.relleno {
    height: 6px;
}

@media (max-width: 1000px) {
    .arriba-izq {
        width: 100%;
    }
    .arriba-dere {
        width: 100%;
    }
    .abajo-izq {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .abajo-dere {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.3);
    }
}