<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <platos tipo="Pizza">
        <nombre> 01. Pizza de atún </nombre>
        <precio> 8,75€ </precio>
        <descripcion> Pizza de atún con jamón y queso </descripcion>
        <calorias> (362Kcal) </calorias>
        <caracteristicas>
            <item></item>
        </caracteristicas>
    </platos>
    <platos tipo="Pizza">
        <nombre> 02. Pizza vegetal </nombre>
        <precio> 8,75€ </precio>
        <descripcion> Pizza vegetal </descripcion>
        <calorias> (790Kcal) </calorias>
        <caracteristicas>
            <item>Vegano</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pizza">
        <nombre> 03. Pizza de atún </nombre>
        <precio> 8,75€ </precio>
        <descripcion> Pizza de atún con jamón y queso </descripcion>
        <calorias> (362Kcal) </calorias>
        <caracteristicas>
            <item></item>
        </caracteristicas>
    </platos>
    <platos tipo="Pizza">
        <nombre> 04. Pizza vegetal </nombre>
        <precio> 8,75€ </precio>
        <descripcion> Pizza vegetal </descripcion>
        <calorias> (790Kcal) </calorias>
        <caracteristicas>
            <item>Vegano</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pizza">
        <nombre> 05. Pizza de atún </nombre>
        <precio> 8,75€ </precio>
        <descripcion> Pizza de atún con jamón y queso </descripcion>
        <calorias> (362Kcal) </calorias>
        <caracteristicas>
            <item></item>
        </caracteristicas>
    </platos>
    <platos tipo="Paella">
        <nombre> 06. Paella marinera </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Paella con pescado, moluscos y crustaceos </descripcion>
        <calorias> (5Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Paella">
        <nombre> 07. Arroz con Sepia y Almejas </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Paella con arroz, sepia y almejas </descripcion>
        <calorias> (238Kcal) </calorias>
        <caracteristicas>
            <item></item>
        </caracteristicas>
    </platos>
    <platos tipo="Paella">
        <nombre> 08. Paella marinera </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Paella con pescado, moluscos y crustaceos </descripcion>
        <calorias> (5Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Paella">
        <nombre> 09. Arroz con Sepia y Almejas </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Paella con arroz, sepia y almejas </descripcion>
        <calorias> (238Kcal) </calorias>
        <caracteristicas>
            <item></item>
        </caracteristicas>
    </platos>
    <platos tipo="Paella">
        <nombre> 10. Paella marinera </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Paella con pescado, moluscos y crustaceos </descripcion>
        <calorias> (5Kcal) </calorias>
        <caracteristicas>
            <item >Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Carne">
        <nombre> 11. Entrecot de ternera </nombre>
        <precio> 14,50€ </precio>
        <descripcion> 1 entrecot de ternera al punto </descripcion>
        <calorias> (59Kcal) </calorias>
        <caracteristicas>
            <item>Carne</item>
        </caracteristicas>
    </platos>
    <platos tipo="Carne">
        <nombre> 12. Costillas de cordero </nombre>
        <precio> 14,50€ </precio>
        <descripcion> 6 costillas de cordero </descripcion>
        <calorias> (68Kcal) </calorias>
        <caracteristicas>
            <item>Carne</item>
        </caracteristicas>
    </platos>
    <platos tipo="Carne">
        <nombre> 13. Chuletón de ternera </nombre>
        <precio> 17,50€ </precio>
        <descripcion> 2 chuletónes de ternera al punto </descripcion>
        <calorias> (27Kcal) </calorias>
        <caracteristicas>
            <item>Carne</item>
        </caracteristicas>
    </platos>
    <platos tipo="Carne">
        <nombre> 14. Pechuga de pollo a la plancha </nombre>
        <precio> 6,95€ </precio>
        <descripcion> 3 pechugas de pollo a la plancha </descripcion>
        <calorias> (28Kcal) </calorias>
        <caracteristicas>
            <item>Carne</item>
        </caracteristicas>
    </platos>
    <platos tipo="Carne">
        <nombre> 15. Churrasco a la brasa </nombre>
        <precio> 11,50€ </precio>
        <descripcion> 2 churrascos a la brasa al punto </descripcion>
        <calorias> (1Kcal) </calorias>
        <caracteristicas>
            <item>Carne</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pescado">
        <nombre> 16. Merluza a la plancha </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Merluza a la plancha </descripcion>
        <calorias> (8Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pescado">
        <nombre> 17. Salmón </nombre>
        <precio> 18,95€ </precio>
        <descripcion> Salmón con crema de guisantes y espárragos a la brasa </descripcion>
        <calorias> (8Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pescado">
        <nombre> 18. Merluza a la plancha </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Merluza a la plancha </descripcion>
        <calorias> (8Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pescado">
        <nombre> 19. Salmón </nombre>
        <precio> 18,95€ </precio>
        <descripcion> Salmón con crema de guisantes y espárragos a la brasa </descripcion>
        <calorias> (8Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
    <platos tipo="Pescado">
        <nombre> 20. Merluza a la plancha </nombre>
        <precio> 13,75€ </precio>
        <descripcion> Merluza a la plancha </descripcion>
        <calorias> (8Kcal) </calorias>
        <caracteristicas>
            <item>Pescado</item>
        </caracteristicas>
    </platos>
</menu>